{% load static %}
<html>
  <head>
    <title>Chat app - Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
<!-- home.html template -->
<div class="app">
    <h1>Conversations</h1>

    {% for conversation in conversations %}
    <a href="{% url 'app' conversation.id %}">{{ conversation.name }}</a>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">New Conversation</button>
  </form>
</div>
  </body>
</html>